#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
.App {
  margin: 30px;
}

canvas {
  width: 400px;
  height: 300px;
  background-color: #f5f5f5;
  border: 1px solid #ccc;
  border-radius: 4px;
}

rect {
  cursor: pointer;
}
.tick line {
  stroke: #ccc;
  pointer-events: none;
}
